asgiref
Authlib
certifi
cffi
charset-normalizer
cloudinary
coverage
cryptography
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
frozendict
gunicorn
idna
packaging
pillow
psycopg2-binary
pycparser
PyJWT
python-dateutil
python-dotenv
requests
six
sqlparse
typing_extensions
tzdata
urllib3
whitenoise
