amqp
asgiref
async-timeout
Authlib
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudinary
colorama
coverage
cryptography
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
django-filter
django-redis
djangorestframework
djangorestframework-simplejwt
frozendict
gunicorn
idna
kombu
packaging
pillow
prompt_toolkit
psycopg2-binary
pycparser
PyJWT
python-dateutil
python-dotenv
redis
requests
six
sqlparse
typing_extensions
tzdata
urllib3
vine
wcwidth
whitenoise
